.background-image {
    height: 120px;
    width: 220px;
    background-image: url('../assets/image/vegetable_garden.png');
    background-repeat: no-repeat;
    background-size: 220px 120px;
    // margin: 0 -16px;
}

.content {
    padding: 5px;
}

h1 {
    color: white;
    margin: 0;
    font-size: 60px;
    text-shadow: 4px 4px 8px rgba(50, 50, 50, 0.6);
    font-family: 'Poor Richard', sans-serif;
}
