.background-image {
    z-index: 1000;
    // position: absolute;
    // top: 0; 
    // left: 0;
    // height: 124px;
    // width: 220px;
    background-image: url('../assets/image/garden@1x.png');
    background-repeat: no-repeat;
    background-size: 220px 124px;
}
