<td-layout-nav-list #navList navigationRoute="/" fxFlexFill [opened]="media.registerQuery('gt-sm') | async"
    [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '225px' : '100%'">
    <div td-sidenav-toolbar-content class="background-image pull-md">
    </div>
    <md-nav-list td-sidenav-content (click)="!media.query('gt-sm') && navList.close()">
        <a md-list-item *ngFor="let page of pages" [routerLink]="page.link">
            <md-icon md-list-avatar>{{ page.icon }}</md-icon>
            <h3 md-line>{{ page.name }}</h3>
            <p md-line>{{ page.description }}</p>
        </a>
    </md-nav-list>
    <div td-toolbar-content layout="row" flex>
        <h1 flex>Garden Dashboard</h1>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</td-layout-nav-list>
