.toolbar-fill-remaining-space {
    flex: 1 1 auto;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    background-image: url('../assets/image/garden@1x.png') !important;
    background-repeat: no-repeat !important;
    background-size: 220px 124px !important;
    background-position-y: 15px;
    align-content: flex-end;

    .mat-toolbar-row {
        height: 50px;
    }

    h1 {
        flex-grow: 1;
        text-align: center;
        font-size: 3rem;
        text-shadow: 0px 10px 18px transparentize(#212121, 0.7);
    }
}
