<div>
    <div fxLayout="column">
        <div fxFlex="100%">
            <md-card>
                <md-card-title-group>
                    <md-card-title>Moisture</md-card-title>
                    <md-card-subtitle>Soil moisture level of each bed over time</md-card-subtitle>
                </md-card-title-group>
                <md-divider></md-divider>
                <div class="chart-height push-top-sm pull-bottom">
                    <mp-moisture-chart></mp-moisture-chart>
                </div>
            </md-card>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxLayout="25" fxLayout.xs="100">
                <md-card>
                    <md-card-title>Battery</md-card-title>
                    <md-divider></md-divider>
                    <mp-battery></mp-battery>
                </md-card>
            </div>
            <div fxLayout="25" fxLayout.xs="100">
                <md-card>
                    <md-card-title>Signal</md-card-title>
                    <md-divider></md-divider>
                    <mp-signal></mp-signal>
                </md-card>
            </div>
            <div fxLayout="25" fxLayout.xs="100">
                <md-card>
                    <md-card-title>Weather</md-card-title>
                    <md-divider></md-divider>
                    <mp-weather></mp-weather>
                </md-card>
            </div>
        </div>
    </div>
</div>