<div class="md-content" class="inset">
    <div layout="column">
        <div flex-gt-xs="100">
            <md-card>
                <md-card-title>Moisture Level</md-card-title>
                <md-divider></md-divider>
                <div class="chart-height push-top-sm pull-bottom">
                    <mp-moisture-chart></mp-moisture-chart>
                </div>
            </md-card>
        </div>
        <div layout="row" layout-xs="column">
            <div flex-gt-xs="50">
                <md-card>
                    <md-card-title>Battery Level</md-card-title>
                    <md-divider></md-divider>
                    <mp-battery></mp-battery>
                </md-card>
            </div>
            <div flex-gt-xs="50">
                <md-card>
                    <md-card-title>Battery Level</md-card-title>
                    <md-divider></md-divider>
                    <mp-battery></mp-battery>
                </md-card>
            </div>
        </div>
    </div>
</div>